@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap");

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

p,
div,
button {
  font-family: "Oswald", sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.mark {
  background: linear-gradient(
    to bottom,
    transparent 60%,
    rgba(59, 130, 246, 0.4) 33%
  );
}
